#wrapper {
	width: 850px;
	height: 850px;
  font-size: 0px;
	margin: auto ;
	background-color: white;
  font-family: "Helvetica Neue";
  font-weight: lighter;
  border: 1px solid #F2F2F2;
}
h1 {
  font-family: "Helvetica Neue";
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: #4f4f4f;
  font-weight: lighter;
  font-size: 14;

}

button{
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
  margin: 5px;

  font-size: 14;
}


.row {
	width: 100%;
  white-space: nowrap;
  margin: 0px;
}

.square {
	height: 100%;

	display: inline-block;
  white-space: nowrap;
  margin: 0px;
